@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D5D7B2;
  --foreground: #000000;
  --color-water: #3CC3DF;
  --color-nutrition: #6F4F4C;
  --color-pH: #2B7052;
  --color-action: #DE8751;
  --color-caution: #DEDE51;
  --color-good: #3ED620;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D5D7B2;
    --foreground: #000000;
    --color-water: #3CC3DF;
    --color-nutrition: #6F4F4C;
    --color-pH: #2B7052;
    --color-action: #DE8751;
    --color-caution: #DEDE51;
    --color-good: #3ED620;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

